@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    Layout = "../Shared/_Layout.cshtml";

}

This is @ViewBag.Title

@if ((await AuthorizationService.AuthorizeAsync(User, "HomeRead")).Succeeded)
{
    <p>HomeRead</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "HomeWrite")).Succeeded)
{
    <p>HomeWrite</p>
}

